.card {
  width: 48%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 10px;

  & > div span {
    font-weight: bolder;
    font-size: 14px;
  }

  .card-lang {
    margin: 10px 0;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}
